# local package
-e .

# external requirements
numpy
pandas
matplotlib
seaborn
lets-plot
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
autopep8
pytest
black[jupyter]
flake8
{% if cookiecutter.python_interpreter != 'python3' %}

# backwards compatibility
pathlib2
{% endif %}
